NODE_ENV=

# Database
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_URL=

# JWT
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=

# Docker
IMAGE_TAG=
DOCKERHUB_USERNAME=

# Upload (AWS / Cloudflare)

## Cloudflare
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_ACCOUNT_TOKEN=

## S3
AWS_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRETE_ACCESS_KEY_ID=

# Redis
REDIS_PORT=
REDIS_HOST=
REDIS_DB=